[submodule "01.01/WorkWithFiles"]
	path = 01.01/WorkWithFiles
	url = https://github.com/suai-materials/WorksWithFiles.git
[submodule "01.01/NbaApp"]
	path = 01.01/NbaApp
	url = https://github.com/suai-materials/Nba-App.git
[submodule "04.01/db_lab1"]
	path = 04.01/db_lab1
	url = https://github.com/suai-materials/db_lab1.git
[submodule "01.01/WorldSkillsApp"]
	path = 01.01/WorldSkillsApp
	url = https://github.com/suai-materials/WorldSkillsApp.git
[submodule "01.01/MyClasses"]
	path = 01.01/MyClasses
	url = https://github.com/suai-materials/MyClasses.git
[submodule "04.01/SQLite-lab"]
	path = 04.01/SQLite-lab
	url = https://github.com/suai-materials/Sqlite-lab.git
[submodule "01.01/PasswordC"]
	path = 01.01/PasswordC
	url = https://github.com/suai-materials/Password.git
[submodule "01.01/VigenereCipher"]
	path = 01.01/VigenereCipher
	url = https://github.com/suai-materials/VegnereCiphere.git
[submodule "templates"]
	path = templates
	url = https://github.com/suai-materials/templates.git
[submodule "04.01/db_lab2_ind"]
	path = 04.01/db_lab2_ind
	url = https://github.com/suai-materials/db_lab2_ind.git
[submodule "01.01/MonsterDog"]
	path = 01.01/MonsterDog
	url = https://github.com/suai-materials/MonsterDog.git
[submodule "04.01/WebJsonExample"]
	path = 04.01/WebJsonExample
	url = https://github.com/suai-materials/ExampleJsonWeb.git
[submodule "01.01/SuperGame"]
	path = 01.01/SuperGame
	url = https://github.com/suai-materials/SuperGame.git
[submodule "04.01/db_lab_3_report"]
	path = 04.01/db_lab_3_report
	url = https://github.com/suai-materials/db_lab_3_report.git
[submodule "04.01/ExampleJson"]
	path = 04.01/ExampleJson
	url = https://github.com/suai-materials/ExampleJson.git
[submodule "04.01/db_lab_3_dop"]
	path = 04.01/db_lab_3_dop
	url = https://github.com/suai-materials/db_lab_3_dop.git
[submodule "04.01/db_lab_4"]
	path = 04.01/db_lab_4
	url = https://github.com/suai-materials/db_lab_4.git
[submodule "04.01_PR"]
	path = 04.01_PR
	url = https://github.com/suai-materials/04.01_PR.git
[submodule "01.01/JavaFirst"]
	path = 01.01/JavaFirst
	url = https://github.com/suai-materials/JavaFirst.git

[submodule "02.02/Hello"]
	path = 02.02/Hello
	url = https://github.com/suai-materials/HelloApp.git
