[submodule "01.01/WorkWithFiles"]
	path = 01.01/WorkWithFiles
	url = https://github.com/suai-materials/WorksWithFiles.git
[submodule "01.01/NbaApp"]
	path = 01.01/NbaApp
	url = https://github.com/suai-materials/Nba-App.git
[submodule "01.02/4 sem"]
	path = 01.02/4_sem
	url = https://github.com/suai-materials/4_sem_testing.git
[submodule "04.01/db_lab1"]
	path = 04.01/db_lab1
	url = https://github.com/suai-materials/db_lab1.git
[submodule "02.03/lpp"]
	path = 02.03/lpp
	url = https://github.com/suai-materials/lin_program_problem.git
[submodule "01.01/WorldSkillsApp"]
	path = 01.01/WorldSkillsApp
	url = https://github.com/suai-materials/WorldSkillsApp.git
[submodule "01.02/TZ"]
	path = 01.02/TZ
	url = https://github.com/suai-materials/tz.git
[submodule "01.01/MyClasses"]
	path = 01.01/MyClasses
	url = https://github.com/suai-materials/MyClasses.git
[submodule "04.01/SQLite-lab"]
	path = 04.01/SQLite-lab
	url = https://github.com/suai-materials/Sqlite-lab.git
[submodule "03.01_2/1"]
	path = 03.01_2/1
	url = https://github.com/suai-materials/first_Erina.git
[submodule "01.01/PasswordC"]
	path = 01.01/PasswordC
	url = https://github.com/suai-materials/Password.git
[submodule "01.01/VigenereCipher"]
	path = 01.01/VigenereCipher
	url = https://github.com/suai-materials/VegnereCiphere.git
[submodule "02.03/prognoz"]
	path = 02.03/prognoz
	url = https://github.com/suai-materials/prognoz.git
[submodule "templates"]
	path = templates
	url = https://github.com/suai-materials/templates.git
[submodule "MANAGE"]
	path = MANAGE
	url = https://github.com/suai-materials/managament_labs.git
[submodule "04.01/db_lab2_ind"]
	path = 04.01/db_lab2_ind
	url = https://github.com/suai-materials/db_lab2_ind.git
[submodule "01.02/ruk"]
	path = 01.02/ruk
	url = https://github.com/suai-materials/ruk.git
[submodule "01.01/MonsterDog"]
	path = 01.01/MonsterDog
	url = https://github.com/suai-materials/MonsterDog.git
[submodule "01.02/selenium"]
	path = 01.02/selenium
	url = https://github.com/suai-materials/selenium_test.git
[submodule "01.02/seleniumKotlinTest"]
	path = 01.02/seleniumKotlinTest
	url = https://github.com/suai-materials/seleniumKotlinTest.git
[submodule "OPD"]
	path = OPD
	url = https://github.com/suai-materials/OPD.git
[submodule "02.03/lab_5/lab5_mm"]
	path = 02.03/lab_5/lab5_mm
	url = https://github.com/suai-materials/lab5_mm.git
[submodule "02.03/lab_5/lab_5_mm_2"]
	path = 02.03/lab_5/lab_5_mm_2
	url = https://github.com/suai-materials/lab_5_mm_2.git
[submodule "01.02/ruk_user"]
	path = 01.02/ruk_user
	url = https://github.com/suai-materials/ruk_user.git
[submodule "02.03/panchesh/Math.mod_excel_lab"]
	path = 02.03/panchesh/Math.mod_excel_lab
	url = https://github.com/danilkis/Math.mod_excel_lab
[submodule "02.03/math_mod_lab_6"]
	path = 02.03/math_mod_lab_6
	url = https://github.com/suai-materials/math_mod_lab_6.git
[submodule "04.01/WebJsonExample"]
	path = 04.01/WebJsonExample
	url = https://github.com/suai-materials/ExampleJsonWeb.git
